<?xml version="1.0" encoding="UTF-8"?>

<suite name="Simplilearn">
  <test thread-count="5" name="SmokeTest">
    <classes>
      <class name="testng.AnnotationsExample"/>
      <class name="testng.AnnotationsExample2">
      	<methods>
      		<include name="test4"/>
      	</methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
